@{
    Layout = null;
}



@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar Sesión | </title>

    <link href="~/Vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Vendors/nprogress/nprogress.css" rel="stylesheet" />

    <link href="~/Vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />

    <link href="~/Vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />


    <link href="~/Content/css/EstilosLogin.css" rel="stylesheet" />

</head>
<body class="login fondoLogin">
    <div class="container body">
        <div class="main_container">

            <div class="col-md-12 pt-5 mb-5">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">404</h1>
                        <h2>Perdón, no ha sido posible encontrar la página</h2>
                        <p>
                            La página que estás buscando no existe <a href="/">¿Regresar?</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Script/ScriptAuth.js"></script>
</body>
</html>

