
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Font Awesome -->
    <link href="~/Vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Custom Theme Style -->

    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
    <link href="~/Content/css/EstilosAyuda.css" rel="stylesheet" />
    <link href="~/Content/css/Responsive.css" rel="stylesheet" />

    <title>Ayuda</title>
</head>
<body>
    <header>
        <ul class="nav">
            <li>
                <a href="/Auth/Login">
                    Inicio
                </a>
            </li>
            <li>
                <a href="#">
                    Ayuda
                </a>
            </li>
            <!-- <li>
                 <a href="/Menu/Blog">
                     Blog
                 </a>
             </li>-->
        </ul>

    </header>

    <div id="banner">
        <img src="~/Content/images/preg.png" width="400px" style="float:right;margin-top:100px;margin-left:65%" />
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col">
            <div class="tabs">
                <div class="tab">
                    <input type="checkbox" id="chck1">
                    <label class="tab-label" for="chck1">¿QUÉ ES Y PARA QUÉ ME SIRVE LA FIRMA ELECTRÓNICA?</label>
                    <div class="tab-content">
                        Una firma electrónica consiste en una técnica matemática que permite usada para
                        validar la autenticidad e integridad de un mensaje, software o documento digital, lo
                        cual permite vincular y determinar la identidad de la entidad firmante. Gracias a esta
                        validación y seguridad que un documento tiene al ser firmado electrónicamente, la
                        firma electrónica tiene la misma validez jurídica que una firma tradicional notariada.
                        Por lo tanto, para que cualquier documento digital tenga validez jurídica debe ser
                        firmado electrónicamente.
                        <br />
                        Por esto, la firma electrónica es respaldada pro la legislación ecuatoriana según la
                        Ley de Comercio Electrónica, Firmas Electrónicas y mensajes de Datos:
                        <br />
                        Art. 14.- Efectos de la firma electrónica.- La firma electrónica tendrá igual validez y
                        se le reconocerán los mismos efectos jurídicos que a una firma manuscrita en relación
                        con los datos consignados en documentos escritos, y será admitida como prueba en
                        juicio.
                        <br />
                        “Art. 20.- “Certificado de firma electrónica.- Es el mensaje de datos que certifica la
                        vinculación de una firma electrónica con una persona determinada, a través de un
                        proceso de comprobación que confirma su identidad.”
                        <br />
                        “Art. 22.- Requisitos del certificado de firma electrónica.- El certificado de firma
                        electrónica para ser considerado válido contendrá los siguientes requisitos:
                        <br />
                        <ul>
                            <li>Identificación de la entidad de certificación de información;</li>
                            <li>Domicilio legal de la entidad de certificación de información;</li>
                            <li>Los datos del titular del certificado que permitan su ubicación e identificación;</li>
                            <li>El método de verificación de la firma del titular del certificado;</li>
                            <li>Las fechas de emisión y expiración del certificado;</li>
                            <li>El número único de serie que identifica el certificado;</li>
                            <li>La firma electrónica de la entidad de certificación de información;</li>
                            <li>Las limitaciones o restricciones para los usos del certificado</li>
                            <li>Los demás señalados en esta ley y los reglamentos.”</li>
                        </ul>
                        Los usos de la firma electrónica son los mismos que la firma tradicional pero aplicados
                        al ambiente digital, lo cual ha ido aumentando exponencialmente debido a que el
                        mundo esta en un rápido proceso de transformación digital. Sus usos mas comunes
                        actualemnte son para dar validez de documentos y repositorios almacenados
                        digitalmente, donde encontramos los siguientes casos:
                        <br />
                        <ul>
                            <li> Contratos electrónicos</li>
                            <li>Pólizas electrónicas</li>
                            <li>Facturación electrónica</li>
                            <li>Aduanas ( SENAE, ECUAPASS)</li>
                            <li>Registros Sanitarios (VUE)</li>
                            <li>QUIPUX</li>
                            <li>Superintendencia de compañias</li>
                            <li>SERCOP</li>
                            <li>Correo Seguro</li>
                        </ul>
                        Para mayor información ver Video<a href="https://www.youtube.com/watch?v=IySqYnZqmZk" target="_blank" style="color:red"> Aquí</a>
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck2">
                    <label class="tab-label" for="chck2">¿CÓMO OBTENER O RENOVAR MI FIRMA ELECTRÓNICA EN LÍNEA? ¿Y QUÉ PRECIO TIENE?</label>
                    <div class="tab-content">
                        Para obtener la firma electrónica emitida por le Banco Central del Ecuador puede usar nuestro portal web <a href="www.sodignature.com" style="color:blue">www.sodignature.com</a>  donde debe seguir 5 simples pasos y obtener en 20 minutos tu firma electrónica. El precio de cada firma de persona natural es de USD 22,00 + IVA y su duración es por dos años. Para más información sobre el uso de nuestro portal web para obtener la firma mira el siguiente tutorial:
                        <a href="https://www.youtube.com/watch?v=XsAVk2vSeg0" target="_blank" style="color:red">Ver Video Aquí..</a>
                        <br />
                        En el caso de renovación de la firma, se tramita de igual manera en el portal web <a href="www.sodignature.com" style="color:blue">www.sodignature.com</a> En este caso, la renovación de la firma tiene igual el precio de USD 22,00 + IVA a excepción de renovación por caso de olvido por primera vez, en el cual no existe costo.
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck3">
                    <label class="tab-label" for="chck3">¿QUÉ ES LA FIRMA ELECTRÓNICA EN TOKEN Y LA FIRMA ELECTRÓNICA EN ARCHIVO?</label>
                    <div class="tab-content">
                        Ambas sirven para firmar documentos. La firma digital en token requiere siempre que el token ingrese al computador para proceder a firmar y es una exigencia para usar el sistema Ecuapass de la Aduana.
                        Por otra parte, la firma electrónica en archivo no necesita token, se puede almacenar en varios lugares, sea en el computador, dispositivo externo o en la nube y se pueden crear varias copias de la misma.
                        Es usada para facturación electrónica. Ambas tienen la misma funcionalidad, excepto que la firma en archivo no esta autorizada por la Aduana del Ecuador.
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck4">
                    <label class="tab-label" for="chck4">¿CÓMO INSTALAR MI FIRMA ELECTRÓNICA EN ARCHIVO?</label>
                    <div class="tab-content">
                        El proceso de instalación de la firma electrónica en archivo es diferente según el sistema operativo de la computadora. A continuación, te dejamos los videos tutoriales para la instalación:
                       <br />
                       Instalar en Equipos Mac:
                        <br />
                       <video src="~/Content/video/VideoTutorial.mp4" width="600px" poster="~/Content/images/poster.png" controls></video>
                    
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck5">
                    <label class="tab-label" for="chck5">¿CÓMO FIRMAR UN DOCUMENTO PDF?</label>
                    <div class="tab-content">
                        PDF formato de almacenamiento para documentos digitales independiente de plataformas de software o hardware.
                        <br />

                        Para firmar electrónicamente un documento almacenado como PDF, se debe previamente:
                        <br />
                        ●	Contar con Adobe Acrobat Reader DC u otro programa afín.
                        <br />
                        ●	Tener almacenado en su maquina el archivo de firma electrónica.
                        <a href="#">Mas Informacion Aquí..</a>
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck6">
                    <label class="tab-label" for="chck6">¿QUE SERVICIOS SE OFRECEN?</label>
                    <div class="tab-content">
                        Nuestra organización proporciona los servicios de emisión, renovación, revocación y recuperación de contraseña por una única vez a través de nuestra plataforma tecnológica sin necesidad de asistir a nuestras oficinas.
                        <br />
                        De manera complementaria proporcionamos servicios de soporte técnico relacionados con la implementación y uso de certificados digitales.
                        <br />
                        Para mayor información, contáctenos a <a style="color:blue">ventas@sodignature.com.</a>
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck7">
                    <label class="tab-label" for="chck7"> ¿QUÉ PASA SI NO ESTOY EN EL PAÍS, DE QUÉ MANERA PUEDO OBTENER MI FIRMA ELECTRÓNICA?</label>
                    <div class="tab-content">
                                  
                        Usted ha obtenido un certificado digital en un contenedor tipo archivo, es decir que el mismo puede ser almacenado en cualquier dispositivo portable como: memorias USB, CD grabables, discos externos e inclusive ser almacenado en la nube con su proveedor preferido. En caso de requerir servicios de almacenamiento, contáctenos a v<a style="color:blue">ventas@sodignature.com.</a>entas@sodigsa.com.                                                                          
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" id="chck8">
                    <label class="tab-label" for="chck8"> ¿DÓNDE PUEDO ADQUIRIR MI FIRMA ELECTRÓNICA?</label>
                    <div class="tab-content">
                        Puede realizarlo a través de nuestra plataforma en el siguiente link: www.tufirmaec.com o acercarse a nuestras oficinas ubicadas en Rio Palora Oe-20 y Avenida Amazonas, será un gusto el poder atenderle.
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
