
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
    <link href="~/Content/css/EstilosAyuda.css" rel="stylesheet" />
    <title>Blog</title>
</head>
<body id="blog">
    <header>
        <ul class="nav">
            <li>
                <a href="/Auth/Login">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/Menu/Ayuda">
                    Ayuda
                </a>
            </li>
            <li>
                <a href="/Menu/Blog">
                    Blog
                </a>
            </li>
        </ul>

    </header>
    <div>
    </div>
</body>
</html>
